@model IEnumerable<FlordiaMan.Models.Event>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Events</h1>

@{
    int currentMonth = DateTime.Now.Month;
    string month = DateTime.Now.Month.ToString("MMMM");
    int currentYear = DateTime.Now.Year;
    DateTime firstDay = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    int daysInCurrentMonth = DateTime.DaysInMonth(firstDay.Year, firstDay.Month);
    DateTime lastDay = new DateTime(currentYear, currentMonth, daysInCurrentMonth);
    // Sunday casted to int gives 0 but that will not work for us, we need 7 to be able to calculate number of empty cells correctly
    int dayOfWeekFirst = ((int)firstDay.DayOfWeek > 0) ? (int)firstDay.DayOfWeek : 7;
    int dayOfWeekLast = ((int)lastDay.DayOfWeek > 0) ? (int)lastDay.DayOfWeek : 7;
    var getDate = DateTime.Now;

    var firstDayOfTheMonth = new DateTime(getDate.Year, getDate.Month, 1);
    var lastDayOfTheMonth = firstDayOfTheMonth.AddMonths(1).AddDays(-1);

    var numberOfDays = Convert.ToInt16(lastDayOfTheMonth.ToString("dd"));
    DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek);
    List<int> eventNums = new List<int>();
    foreach (Event e in Model)
    {
        eventNums.Add(e.Date.Day);
    }
}

<table>
    <thead>
        <tr>@month</tr>
        <tr class="cal_cell">
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr class="cal_cell">
            @for (int i = 0; i <= daysInCurrentMonth; i++)
            {

                DateTime date = startDate.AddDays(i);


                if (i % 7 == 0 && i > 0)
                {
                @:</tr><tr class="cal_cell">
                }
                    var e = (from evnt in Model
                            where evnt.Date.Day.Equals(date.Day)
                            select evnt).ToList();

                    if(!e.Any())
                    {
                        <td>@date.Day</td>
                    }
                    else
                    {
                        <td>
                            @date.Day<br />
                            @e[0].Name<br />
                            <a asp-controller="Events" asp-action="EventDetails" asp-route-id="@e[0].Id">Book Tickets</a>
                        </td>
                    }
                      
                 @*<td>@date.Day</td>*@
            }
        </tr>
    </tbody>


</table>

