@model IEnumerable<FlordiaMan.Models.Event>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Events</h1>

@{
    int currentMonth = DateTime.Now.Month;
    int currentYear = DateTime.Now.Year;
    DateTime firstDay = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    int daysInCurrentMonth = DateTime.DaysInMonth(firstDay.Year, firstDay.Month);
    DateTime lastDay = new DateTime(currentYear, currentMonth, daysInCurrentMonth);
    // Sunday casted to int gives 0 but that will not work for us, we need 7 to be able to calculate number of empty cells correctly
    int dayOfWeekFirst = ((int)firstDay.DayOfWeek > 0) ? (int)firstDay.DayOfWeek : 7;
    int dayOfWeekLast = ((int)lastDay.DayOfWeek > 0) ? (int)lastDay.DayOfWeek : 7;
      var getDate = DateTime.Now;

    var firstDayOfTheMonth = new DateTime(getDate.Year, getDate.Month, 1);
    var lastDayOfTheMonth = firstDayOfTheMonth.AddMonths(1).AddDays(-1);

    var numberOfDays = Convert.ToInt16(lastDayOfTheMonth.ToString("dd"));
    DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek);
}

<table>
    <thead>
        <tr>@currentMonth</tr>
        <tr class="cal_cell">
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr class="cal_cell">
            @for (int i = 0; i <= daysInCurrentMonth; i++)
            {
              
                DateTime date = startDate.AddDays(i);
 
                
                if(i%7==0&&i>0)
                {
                    @:</tr><tr class="cal_cell">
                }
                else
                {
                    foreach(Event e in Model)
                    {
                        if(e.Id==date.Day)
                        {
                            @** if the day matches the day of an event write link to book *@
                            <td>
                                @date.Day<br />
                                @*@e.Name*@TestName<br/>
                                <a asp-controller="Ticket" asp-action="BookTicket" asp-route-id="@e.Id">Book Tickets</a>
                            </td>
                        }
                        else
                        {
                            <td>@date.Day</td>
                        }

                    }


                    @*<td>@date.Day</td>*@
                }
                

            }
        </tr>
    </tbody>


</table>