@model Performer
@{
    ViewData["Title"] = "PerformerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PerformerDetails</h1>

<div class="center">
    @Model.Name
</div>

<div class="container clearfix">
    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-left AboutImg" src="@Model.ImgUrl" />
                <br />
                <br />
                <p>@Model.Bio</p>
                <br />
                <div>

                </div>

            
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        <form method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" name="command" value="add"> Add to Favorites</button>
            <br />
            <button type="submit" name="command" value="remove"> Remove to Favorites</button>
        </form>
    </div>
    <a asp-action="PerformerDetails" asp-route-id="@Model.Id">
        
    </a>
    <h4 class="sasquatchSocks RoadRage">News</h4>
    @if (Model.News.Any())
    {
        foreach (News n in Model.News)
        {
            <p>@n.Title</p>
            <p>@n.Text</p>
        }
    }
    else
    {
        @:There is No News
    }
</div>